<div class="top-wrapper">
  <div class="name-wrapper">
    <div class="name">
      Kayla Howser
    </div>

    <div class="row align-center-middle">
      <div class="blurb small-12 medium-expand columns">
        Skilled full-stack Ruby developer with a knack for bringing tech to the non-technical
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/header' %>

<div class="avatar">
  <img src="https://s3-us-west-2.amazonaws.com/kaylahowser2017portfolio/portfolio+bw+headshot.jpg" />
</div>

<div class="row align-center">
  <div class="long-blurb medium-10 columns">
    With a long-standing interest in web design and development, I built my first website on Angelfire in 2003.
    I worked in customer support for years but found myself at a crossroads with a strong desire to learn new things.
    I turned back to my passion for the web, this time in a professional setting. I’ve always been able to empathize
    and communicate effectively with customers and my relationship management skills have helped me thrive as a
    freelance developer. Right now, I’ m looking to join a team disrupting their industry. I’d love to work with a
    company that values my strong understanding of customer needs and my ability to write excellent code,
    where I will immerse myself in a great product and expand upon my skills.
  </div>
</div>

<hr>

<div class="row resume-contact-link-wrapper">
  <a class="medium-6 small-12 columns link-wrapper" href="/contact">
    <div class="link">
      Contact Me
    </div>
  </a>
  <a class="medium-6 small-12 columns link-wrapper" href="https://s3-us-west-2.amazonaws.com/kaylahowser2017portfolio/kayla-howser-resume.pdf">
    <div class="link">
      I'm going full time!
    </div>
  </a>

</div>

<hr>

<div class="home-projects-header">
  Projects
</div>

<div class="home-project-blocks">
  <% @projects.each do |project| %>
    <% if project.id.even? %>
    <!-- if the id is even put the image on the left -->
      <div class="project-wrapper">
        <a href="<%= project_path(project.id) %>" class="row project-link">
          <div class="hide-for-small-only large-6 column">
            <%= image_tag project.homepage_image.url, class: "project-image" %>
          </div>

          <div class="project-title large-6 column">
            <%= project.title %>
          </div>
        </a>
      </div>

    <% else %>
    <!-- if the id is odd put the image on the right -->
      <div class="project-wrapper">
        <a href="<%= project_path(project.id) %>" class="row project-link">
          <div class="project-title large-6 column">
            <%= project.title %>
          </div>

          <div class="large-6 hide-for-small-only column">
            <%= image_tag project.homepage_image.url, class: "project-image" %>
          </div>
        </a>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  $(document).ready(function() {
    function setHeight() {
      windowHeight = $(window).innerHeight();
      $('.top-wrapper').css('height', windowHeight);
    };
    setHeight();

    $(window).resize(function() {
      setHeight();
    });
  });
</script>
