<%= form_for(@project) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>


  <div>
    <%= f.label :homepage_image %>
    <%= f.file_field :homepage_image, class: "choose-file-button"%>
    <%= f.label :index_image %>
    <%= f.file_field :index_image, class: "choose-file-button"%>
    <%= f.file_field :image_3, class: "choose-file-button"%>
    <%= f.file_field :image_4, class: "choose-file-button"%>
  </div>

  <div class="actions">
    <%= f.submit class: "submit-button" %>
  </div>
<% end %>
