<%= form_for(@project) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.file_field :image_1 %>
    <%= f.file_field :image_2 %>
    <%= f.file_field :image_3 %>
    <%= f.file_field :image_4 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
