<div class="project-show-title">
  <%= @project.title %>
</div>

<div class="visit-site">
  <% if @project.url != nil %>
    <a href="<%= @project.url %>" class="button medium">
      <div class="project-link">
        Visit Live Site
      </div>
    </a>
  <% end %>

  <% if @project.github_repo != nil %>
    <a href="<%= @project.github_repo %>" class="button medium">
      <div class="project-link">
        Visit Github Repo
      </div>
    </a>
  <% end %>
</div>

<div class="project-show-description">
  <%= markdown(@project.description) %>
</div>

<div class="delete-edit">
  <% if logged_in? %>
    <%= link_to "Delete Project", project_path(@project), method: :delete, data: {confirm: "No, but really?"}, class: 'delete button' %>
    <%= link_to "Edit Project", edit_project_path(@project), class: "delete button" %>
  <% end %>
</div>
